{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
  <h1>This is our home page.</h1>
  <img class="bookcover" src="{% static 'images/dfp.jpg' %}" alt="">
  {% if user.is_authenticated %}
    <p>Hi {{ user.email }}!</p>
    <p>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button>Log Out</button>
      </form>
    </p>
    {% comment %} <p><a href="{% url 'logout' %}">Log Out</a></p> {% endcomment %}
  {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log in</a>
    <a href="{% url 'signup' %}">Sign Up</a>
  {% endif %}
{% endblock %}
